@import '../../styles/mixins.scss';

.setting{
    @include settingOn;

    >:nth-child(2){
        margin-right: auto;
        margin-left: 1.875rem;
    }

    >:last-child{
        margin-left: 0.9375rem;
    }
}