@import '../../styles/mixins.scss';

.table{
    display: flex;
    height: 38.125rem;
    background-color: var(--first);
    overflow: hidden;
    position: relative;

    .time{
        @include shadow;
        width: 5.3125rem;
        height: 100%;
        background-color: var(--second);
        flex-shrink: 0;
        z-index: 10;

        >div{
            @include center;
            height: 5rem;

            &:first-child{
                height: 3.125rem;
            }
        }        
    }

    .days{
        @include scrollbar;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        border-bottom: 1.1875rem solid var(--first);

        >:last-child{
            border-right: 0;
        }
    }

    .timeline{
        @include left;
        position: absolute;
        top: 2.5rem;
        width: 100%;
        z-index: 1000;
        transition: all 0.5s;

        .box{
            @include center;
            @include text10-medium;
            width: 3.125rem;
            height: 1.25rem;
            border-radius: 0.3125rem 0.625rem 0.625rem 0.3125rem;
            background-color: var(--blue);
            color: var(--text80);
        }

        .line{
            width: 100%;
            height: 0.0625rem;
            background-color: var(--blue);
        }
    }
}