@import '../../styles/mixins.scss';

.table{
    display: flex;
    height: 38.125rem;
    background-color: var(--first);
    overflow: hidden;
    position: relative;

    .time{
        @include shadow;
        width: 5.3125rem;
        height: 100%;
        background-color: var(--second);
        flex-shrink: 0;
        z-index: 10;

        >div{
            @include center;
            height: 5rem;

            &:first-child{
                height: 3.125rem;
            }
        }        
    }

    .days{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        border-bottom: 1.1875rem solid var(--first);

        &::-webkit-scrollbar{
            height: 0.125rem;
            margin: 10px
            
        }

        &::-webkit-scrollbar-thumb{
            background-color: var(--black20);
            border-radius: 0.625rem;
        }

        >:last-child{
            border-right: 0;
        }
    }
}

.day{
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    margin-bottom: 1.1875rem;
    flex-shrink: 0;
    overflow: hidden;
    border-right: 1px solid var(--black10);
    border-bottom: 1px solid var(--black10);

    .header{
        @include shadow;
        @include center;    
        @include text18-medium;
        height: 3.125rem;
        background-color: var(--second);
    }

    >:nth-child(2){
        margin-top: 2.5rem;
    }
    
}

.lesson{
    @include center;  
    height: 5rem;
    border-top: 1px solid var(--black10);
    transition: all 0.3s;
    cursor: pointer;

    .leesonItem{
        margin: 0.625rem;
        display: flex;
        align-items: center;
        flex-grow: 1;
        border-radius: 0.625rem;
        height: 3.75rem;

        .icon{
            @include center;
            @include shadow4;
            height: 2.1875rem;
            width: 2.1875rem;
            border-radius: 50%;
            background-color: #ffffff;
            margin: 0 0.9375rem;

            >img{
                height: 1.3125rem;
                width: 1.3125rem;
            }
        }

        .text{
            display: flex;
            flex-direction: column;
            gap: 0.4375rem;

            >p:nth-of-type(1){
                @include text14-medium;
                color: var(--text80);
            }

            >p:nth-of-type(2){
                @include text12-regular;
                color: var(--text60);
            }
        }

        .classroom{
            @include text12-regular;
            color: var(--text60);
            height: 2.125rem;
            margin-left: auto;
            margin-right: 3.5rem;
        }
    }

    &:hover{
        background-color: var(--second);
    
        .noLesson{
            opacity: 1;
        }
    }

    .noLesson{
        @include between;
        width: 15.625rem;
        opacity: 0;
        transition: all 0.3s;

        .textLesson{
            display: flex;
            flex-direction: column;
            gap: 0.3125rem;

            >p:nth-of-type(1){
                @include text16-medium;
            }

            >p:nth-of-type(2){
                @include text12-regular;
            }
        }
    }
}