@import '../../styles/mixins.scss';

.table{
    display: flex;
    height: 38.125rem;
    background-color: var(--first);
    overflow: hidden;
    position: relative;

    .time{
        @include shadow;
        width: 5.3125rem;
        height: 100%;
        background-color: var(--second);
        flex-shrink: 0;
        z-index: 10;

        >div{
            @include center;
            height: 5rem;

            &:first-child{
                height: 3.125rem;
            }
        }        
    }

    .days{
        @include scrollbar;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        border-bottom: 1.1875rem solid var(--first);

        >:last-child{
            border-right: 0;
        }
    }
}