@import '../../../styles/mixins.scss';

.holidayBox{
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    padding: 0.9375rem;
    gap: 0.9375rem;
    height: 3.75rem;
    
    .icon{
        @include center;
        @include shadow;
        height: 2.1875rem;
        width: 2.1875rem;
        background-color: #fff;
        border-radius: 2.1875rem;

        >img{
            height: 1.1875rem;
            width: 1.1875rem;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 0.4375rem;

        >p:nth-of-type(1){
            @include text14-medium;
            color: var(--text80);
        }

        >p:nth-of-type(2){
            @include text12-regular;
            color: var(--text60);
        }
    }
}