@import '../../../styles/mixins.scss';

.leesonItem{
    margin: 0.625rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 0.625rem;
    height: 3.75rem;
    position: relative;

    &:hover{
        .teacherBox{
            opacity: 1;
        }
    }

    .icon{
        @include center;
        @include shadow4;
        height: 2.1875rem;
        width: 2.1875rem;
        border-radius: 50%;
        background-color: #ffffff;
        margin: 0 0.9375rem;

        >img{
            height: 1.3125rem;
            width: 1.3125rem;
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 0.4375rem;

        >p:nth-of-type(1){
            @include text14-medium;
            color: var(--text80);
        }

        >p:nth-of-type(2){
            @include text12-regular;
            color: var(--text60);
        }
    }

    .classroom{
        @include text12-regular;
        color: var(--text60);
        height: 2.125rem;
        margin-left: auto;
        margin-right: 3.5rem;
    }

    .teacherBox{    
        @include shadow;
        position: absolute;
        top: -0.3rem;
        right: 0.9375rem;
        background-color: var(--second);
        width: fit-content;
        padding: 0.625rem 0.9375rem;
        border-radius: 0.625rem;
        opacity: 0;
        transition: all 0.3s;
        z-index: 100;

        >p:nth-of-type(1){
            @include text14-medium;
            margin-bottom: 0.3125rem;
        }

        >p:nth-of-type(2){
            @include text12-regular;
        }
    }
}

.leesonItemModal{
    margin: 0 !important;
    cursor: pointer;
    transition: all 0.3s;

    &:hover{
        background-color: var(--second);
    }
}