@import '../../styles/mixins.scss';

.box{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    max-width: 14.375rem;
    width: 100%;

    >p:nth-of-type(1){
        @include text20-medium;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .contentItem{
            display: flex;
            flex-direction: column;
            gap: 0.3125rem;

            >p:nth-of-type(1){
                @include text14-regular;
                color: var(--text80)
            }   

            >p:nth-of-type(2){
                @include text12-regular;
                color: var(--text60);
            }
        }
    }
}