@import '../../../styles/mixins.scss';

.bellLesson{
    @include center;
    flex-direction: column;
    width: 9.0625rem;
    height: fit-content;
    padding: 1.875rem 0.625rem;
    border-radius: 1.25rem;
    background-color: var(--first);
    gap: 1.5625rem;
}

.lessonContainer{
    display: flex;
    padding-left: 1.25rem;
    gap: 0.625rem;
    height: fit-content;
    width: 100%;
    transition: all 0.5s;

    &:hover{
        background-color: var(--second);
        border-radius: 0.625rem;
        padding: 0.5rem 0;
        padding-left: 1.25rem;
        cursor: pointer;
    }

    .line{
        min-height: 100%;
        width: 0.1875rem;
        border-radius: 0.125rem;

    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 0.4375rem;

        >p:nth-of-type(1){
            @include text16-medium;
            color: var(--text80);
        }

        >p:nth-of-type(2){
            @include text12-regular;
            color: var(--text80);
        }
        
    }
}