@import '../../styles/mixins.scss';

aside{
    min-width: 17.5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 70px;

    >a{
        @include text20-medium;
    }
}