@import '../../styles/mixins.scss';

.cardAdd{
    margin: 0.625rem;
    @include showOn;

    .card{
        @include shadow;
        display: flex;
        align-items: center;
        background-color: var(--first);
        border-radius: 1.25rem;
        position: relative;
        padding: 0 1.5625rem;
        width: 14.6875rem;
        height: 4.375rem;
        transition: all 0.5s;
        cursor: pointer;
        
        &:hover{
            background-color: var(--purple40);
        }

        .text{
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 0.3125rem;
            
            >p:nth-of-type(1){
                @include text16-medium;
                color: var(--text80);
            }

            >p:nth-of-type(2){
                @include text12-regular;
                color: var(--text60);
            }
        }

        >img{
            height: 1.0625rem;
            width: 1.0625rem;
            margin-left: auto;
        }
    }
}