@import '../../styles/mixins.scss';

.setting{
    @include settingOn;
    
    >:nth-child(2){
        margin-right: auto;
        margin-left: 1.875rem;
    }

    >:nth-child(3){
        margin-right: 1.875rem;
    }

    >:nth-child(5){
        margin: 0 0.9375rem;
    }

    >:nth-child(7){
        margin-right: 1.875rem;
        margin-left: 0.9375rem;
    }

    >:nth-child(8){
        margin-right: 0.9375rem;
        transform: rotate(90deg);
    }
    
    >:nth-child(9){
        transform: rotate(-90deg);
    }
}

.helper{
    align-items: end;
    display: flex;
    gap: 0.3125rem;
    margin-top: 1.875rem;;
    margin-left: 0.625rem;

    >p:nth-of-type(1){
        @include text16-regular
    }

    >p:nth-of-type(2){
        @include text18-medium
    }

    >p:nth-of-type(3){
        @include text16-regular;
        margin-left: 1.875rem;
    }
}


