@import '../../styles/mixins.scss';

.setting{
    @include settingOn;
    margin-bottom: 2.8125rem;
    
    >:nth-child(2){
        margin-left: 0.9375rem;
        margin-right: auto;
    }

    >:nth-child(4){
        margin-left: 1.875rem;
        margin-right: 0.9375rem;
        transform: rotate(90deg);
    }
    
    >:nth-child(5){
        transform: rotate(-90deg);
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

