@import '../../styles/mixins.scss';

.setting{
    @include settingOn;
    margin-bottom: 3.4375rem;
    
    >:nth-child(2){
        margin-right: auto;
        margin-left: 1.875rem;
    }

    >:nth-child(4){
        margin-left: 0.9375rem;
        margin-right: 1.875rem;
    }

    >:nth-last-child(2){
        margin-right: 0.9375rem;
        transform: rotate(90deg);
    }
    
    >:last-child{
        transform: rotate(-90deg);
    }
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

.noneElement{
    @include noneElement;
}

.modalAdd{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.875rem;

    >div:last-of-type{
        display: flex;
        gap: 0.3125rem;

        >p:nth-of-type(1){
            @include text14-regular;
        }

        >p:nth-of-type(2){
            @include text16-medium;
        }
    }
}

.modalStudent{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    max-height: 14rem;
    gap: 0.625rem;

    .studentBox{
        display: flex;
        flex-direction: column;
        gap: 0.3125rem;
        padding: 0.625rem 1.25rem;
        margin-right: 0.625rem;
        cursor: pointer;

        &.active{
            background-color: var(--second);
            border-radius: 0.625rem;
        }

        >p:nth-of-type(1){
            @include text18-medium;
        }
        
        >p:nth-of-type(2){
            @include text14-regular;
        }
    }

    .withoutClass{
        @include text16-medium;
        padding: 0.625rem 0;
    }
}