@import '../../styles/mixins.scss';

header{
    @include left;
    width: 100%;
    min-height: 80px;
    padding: 1.375rem 0;
    background-color: var(--red);
    
    .logo{ 
        @include center;
        @include text30-bold;
        max-width: 17.5rem;
        width: 100%;
    }
}