@import '../../../styles/mixins.scss';

.container{
    @include between;
    width: 100%;
    height: 2.875rem;
    position: relative;
    border-bottom: 0.0625rem solid var(--black40);
    padding: 0 1.25rem;
    gap: 0.625rem;

    .input{
        @include text16-regular;    
        color: var(--text80);
        height: 100%;
        width: 100%;

        &::placeholder{
            @include text16-regular;    
            color: var(--text80);
        }
    }

    .description{
        @include text12-regular;
        color: var(--text60);
    }   
}