@import '../../../styles/mixins.scss';

.container{
    @include between;
    width: 100%;
    height: 2.875rem;
    position: relative;
    border-bottom: 0.0625rem solid var(--black40);
    padding: 0 1.25rem;
    gap: 0.625rem;
    transition: all 0.3s;

    &.active{
        margin-bottom: 2rem;

        .error{
            top: 3.5rem;
            opacity: 1;
        }
    }

    .input{
        @include text16-regular;    
        color: var(--text80);
        height: 100%;
        width: 100%;

        &::placeholder{
            @include text16-regular;    
            color: var(--text80);
        }
    }

    .description{
        @include text12-regular;
        color: var(--text60);
    }   

    .error{
        @include text12-regular;
        line-height: 1.3;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all 0.3s;
        color: var(--red);
        z-index: 100;
        margin-right: 1.25rem;
    }
}