@import '../../styles/mixins.scss';

.setting{
    @include settingOn;

    >:nth-of-type(n+1):nth-of-type(-n+6){
        margin-right: 0.625rem;
    }

    >:nth-child(8){
        margin-right: 0.9375rem;
        margin-left: auto;
        transform: rotate(90deg);
    }
    
    >:nth-child(9){
        transform: rotate(-90deg);
    }
}

.contant{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    padding-top: 0.3125rem;
    gap: 0.625rem;

    .noContant{
        display: flex;
        width: 1005;
        @include text18-medium;
        margin-top: 1.25rem;
    }

    .homework{
        display: flex;
        min-height: 4.375rem;
        width: 100%;
        border-bottom: 0.0625rem solid var(--black20);
        gap: 0.9375rem;
        padding: 0.9375rem 1.875rem 1.125rem 0;
        height: fit-content;
        position: relative;

        .line{
            width: 0.1875rem;
            height: auto;
            margin-right: 0.9375rem;
            border-radius: 0.125rem;
        }

        >div:nth-of-type(2){
            max-width: 11.875rem;
            width: 100%;

            >p:nth-of-type(1){
                @include text18-medium;
            }
        }

        >div:nth-of-type(3), >div:nth-of-type(4) {
            max-width: 17.8125rem;
            width: 100%;

            >p:nth-of-type(1){
                @include text16-medium;
            }
        }
        
        >div:nth-of-type(5){
            margin-left: auto;
        }

        >div:nth-of-type(7){
            margin-left: 0.9375rem;
        }

        >div:nth-of-type(5), >div:nth-of-type(6) {
            @include center;
            height: 2.1875rem;
            width: 2.1875rem;
            border-radius: 0.625rem;
        }

        .pass{
            background-color: var(--red40);
        }

        .remark{
            background-color: var(--orange);
            cursor: pointer;

            .remarkContainer{
                @include text14-regular;
                position: absolute;
                right: 1.875rem;
                top: 0;
                background-color: var(--first);
                padding: 1.25rem;
                border-radius: 1.25rem;
                border: 0.0625rem solid var(--black10);
                pointer-events: none;
                opacity: 0;
                transition: all 0.3s;
            }

            &:hover{
                .remarkContainer{
                    opacity: 1;
                }
            }
        }
    }
}

.textHomework{
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;

    >p:nth-of-type(2){
        @include text12-regular;
        color: var(--text60)
    }
}

.helper{
    align-items: end;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    margin-top: 1.25rem;
    margin-left: 1.5625rem;

    >p:nth-of-type(1){
        @include text16-regular
    }

    >p:nth-of-type(2){
        @include text16-medium
    }

    .reviewed{
        margin-left: auto;
        padding: 0.625rem 0;
        @include center;
        gap: 0.9375rem;

        >p{
            @include text18-regular;
        }
    }
}