*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Gantari';
    font-size: var((--font-size), 16px);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

#root{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.body{
    display: flex;
    gap: 0;
    height: 100%;
    flex-grow: 1;
}


html, body, #root {
    min-height: 100vh;
}

a{
    text-decoration: none;
}

button,
input {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    height: fit-content;
}

input{
    &:focus{
        cursor: text;
    }
}