// ===== TEXT ===== //

@mixin text($size, $weight){
    font-family: 'Gantari';
    font-size: #{$size / 16}em;
    font-weight: $weight;   
    line-height: 1;
    color: var(--text, #000000);
}

@mixin text30-bold{
    @include text(30, 700);    
}

@mixin text24-medium{
    @include text(24, 500);    
}

 
@mixin text20-medium{
    @include text(20, 500);    
}

@mixin text20-regular{
    @include text(20, 400);    
}


@mixin text18-medium{
    @include text(18, 500);    
}

@mixin text18-regular{
    @include text(18, 400);    
}

@mixin text18-24-regular{
    @include text(18, 400);  
    line-height: calc(24 / var(--font-size));  
}


@mixin text16-medium{
    @include text(16, 500);    
}

@mixin text16-regular{
    @include text(16, 400);    
}


@mixin text14-medium{
    @include text(14, 500);    
}

@mixin text14-regular{
    @include text(14, 400);    
}


@mixin text12-medium{
    @include text(12, 500);    
}

@mixin text12-regular{
    @include text(12, 400);    
}

@mixin text10-medium{
    @include text(10, 500);    
}

@mixin settingOn{
    display: flex;
    width: 100%;
    margin-top: 1.5625rem;
    margin-bottom: 3.75rem;
}



// ===== styles =====

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin left{
    display: flex;
    align-items: center;
}


@mixin shadow{
    box-shadow: 0 0 20px -5px var(--black20, #00000045);
}

@mixin shadow0{
    box-shadow: 0 0 20px 0 var(--black20, #00000045);
}

@mixin shadow4{
    box-shadow: 0 0 4px 0 var(--black20, #00000045);
}


@mixin scrollbar {
    &::-webkit-scrollbar{
        height: 0.125rem;
        margin: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--black20);
        border-radius: 0.625rem;
    }
}

@mixin scrollbar-vertical {
    &::-webkit-scrollbar{
        width: 0.125rem;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--black20);
        border-radius: 0.625rem;
    }
}