:root {
  --font-size: 16px;
  
  --first: #FFFFFF;
  --second: #F5F7FB;
  
  --text: #000000;
  --text80: #323233;
  --text60: #626365;
  
  --purple: #EFD4FF;
  --orange: #FEE3C5;
  --green: #D7ECDD;
  --yellow: #FFF3D1;
  --blue: #CBE0FF;
  --pink1: #E7D3DE;
  --pink2: #F6D3DA;
  --red: #E7D3DE;
  
  --purple40: #F3E9FD;
  --yellow40: #FFFAED;
  --green40: #FFD7D8;
}

$font-size: 16px;
$font-size-wh: 16;


$first: #FFFFFF;
$second: #F5F7FB;

$text: #000000;
$text80: #323233;
$text60: #626365;

$purple: #EFD4FF;
$orange: #FEE3C5;
$green: #D7ECDD;
$yellow: #FFF3D1;
$blue: #CBE0FF;
$pink1: #E7D3DE;
$pink2: #F6D3DA;
$red: #E7D3DE;

$purple40: #F3E9FD;
$yellow40: #FFFAED;
$green40: #FFD7D8;