body {
    font-family: "Gantari", sans-serif;
    margin: 0;
}

button,
input {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

input {
    cursor: text; // Курсор ввода текста
    width: 100%;

    // &::placeholder {
    //     color: var(--color-text-muted);
    // }
}
